.container {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  border: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.left-side {
  width: 60%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  background: blanchedalmond;
}

.right-side {
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  flex-grow: 1;
  background: aquamarine;
}

.handler {
  width: 1px;
  height: 100%;
  background: goldenrod;
  cursor: w-resize;
}
